* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

header {
    position: relative;
    z-index: 2;
    overflow: visible;
}

ul {
    list-style: none;
    position: absolute; 
    right: 0;
}

.radius{
    border-radius: 50%;
    padding: 17px 25px;
    margin: 25px 20px;
    background-color: white;
    display: inline-block;
    
}

li {
    display: inline-block;
}
    
.num {
    font-weight: 900;
    font-size: 1.2em;
}

.a {
    background-color: red;
    z-index: 0;
}

.b {
    background-color: green;
}

.c {
    background-color: yellow;
}

img {

}

.container {
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
}

h2 {
    color: yellow;
    line-height: 90%;
    font-size: 4em;
    text-align: center;
}

.h2-green {
    color: green;
}


